@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --main-dark: #065f46;
    --main-light: #22c55e;
    --bg-clr: #0c1220;
    --default-txt-clr: #1b1b1b;
}

html{
    height: 100%;
}

body{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    display: flex;
}

.nav{
   width: max(15%, 150px);
   background-color: var(--bg-clr);
   display: flex;
   flex-direction: column;
   color: var(--main-light);
   align-content: flex-start;
   padding: 20px 20px 20px 40px;
}

.nav > h1{
    font-weight: 800;
    font-size: 2.6rem;
}

.nav > menu > li{
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.nav > menu > li > span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav > menu{
    list-style-type: none;
    padding: 20px 0 20px 0;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
}

.nav > .menu-first{
    flex: 1;
    align-content: start;
    align-items: center;
}

.nav > .menu-first > #link-dashboard{
    background-color: var(--main-dark);
    border-radius: 10px;
}

.content{
    flex: 1;
}

.content > .header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.content > .header > .search-form{
    display: grid;
    grid-template-columns: 20px minmax(150px, 500px);
    gap: 10px;
    align-items: center;
    border: 2px solid var(--bg-clr);
    border-radius: 40px;
    padding: 4px 12px 4px 20px;
}

.content > .header > .search-form > input{
   border: none;
   font-size: 1.2rem;
   font-family: inherit;
   color: var(--default-txt-clr);
   outline: none;
}

.content > .header > .header-links{
    display: grid;
    grid-template-columns: minmax(40px, 50px) minmax(100px, 1fr);
    justify-self: end;
}